<div data-collapse="large" data-animation="default" data-duration="400" class="hero-menu w-nav sticky is-stuck is-at-top">
  <div class="grid-container">
    <div class="grid-x align-justify align-middle">
      <div class="w-nav-brand w--current large-shrink grid-x align-justify">
        <a href="/" class="w-logo">
          <img src="assets/esteemed-bw-logo.svg" alt="Esteemed Logo" class="logo">
        </a>
      </div>
      <div id="main-navigation__button" class="hide-for-large">
        <div class="title-bar" data-toggle="main-navigation" data-responsive-toggle="main-navigation" data-hide-for="large" aria-expanded="true" aria-controls="main-navigation" style="display: none;">
          <button class="menu-icon" type="button" data-toggle="main-navigation" aria-expanded="true" aria-controls="main-navigation"></button>
        </div>
      </div>
    </div>
    <div class="grid-x" id="main-navigation__content">
      <div class="top-bar cell" id="main-navigation" data-toggler="0jdluy-toggler" data-animate="fade-in fade-out">
        <ul class="dropdown vertical large-horizontal menu" data-dropdown-menu="medams-dropdown-menu" role="menubar">

          <li role="none">
            <a class="" href="https://esteemed.io/company/" role="menuitem">Company</a>
          </li>


          <li role="none">
            <a class="" href="https://esteemed.io/blog/" role="menuitem">Blog</a>
          </li>


          <li role="none">
            <a class="" href="https://esteemed.io/pricing/" role="menuitem">Pricing</a>
          </li>


          <li role="none">
            <a class="button" href="https://esteemed.io/sales/schedule-demo/" role="menuitem">Schedule Demo</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
