html {
    font-size: 100% !important;
}
.credits {
    display: none;
}
.frame {
    max-width: 75rem;
    margin: 0 auto;
}
.grid-container {
    max-width: 75rem;
}
novo-search {
    align-items: normal !important;
}
button[data-automation-id="novo-search-fab"] {
    height: 38px !important;
}
input[data-automation-id="novo-search-input"] {
    border-radius: unset !important;
}
.job-title {
    font-weight: bold;
    text-align: center;
}

.job-container {
    margin: 0 auto !important;
    padding: 2rem 2rem 10rem 2rem !important;
    max-width: 75rem;

}

.frame > .list {
    height: calc(85vh - 55px) !important;
}