* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a {
  color: #333;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: blueviolet;
}

._big {
  width: 475px;
  height: 475px;
}

.btn {
  min-width: 10em;
}
